a {
	font-family: 'Averia Libre', cursive;
	color: #000;
}

a:hover, a:focus {
	color: #ee0c16;
	text-decoration: none;
}

p {
	margin-left: 10px;
}

.nav {
	margin-left: 20px;
}

.nav li > a {
	font-size: 18px;
	line-height: 22px;
}

.nav li > a:hover,
.nav li > a:focus {
	background-color: transparent;
}

.content {
	margin-top: 60px;
}

.vertical_scroll {
	overflow: scroll;
}

.vertical_scroll ul {
	margin: 0;
	width: 1680px;
	height: 600px;
}

.vertical_scroll ul > li {
	margin-right: 5px;
	list-style: none;
	float: left;
}

.video_parts ul {
	margin: 0;
}

.video_parts ul > li {
	margin-right: 10px;
	list-style: none;
	float: left;
}

.content h1,h2,h3,h4,h5,h6 {
	font-family: 'Averia Libre', cursive;
}

.content h1 {
	font-size: 28px;
}

.content h2 {
	font-size: 23px;
}

.content h3 {
	font-size: 18px;
}

.content p {
	font-family: 'Averia Libre', cursive;
}

.content blockquote {
	font-family: 'Averia Libre', cursive;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















